    @model Product 

    <div>
        <p>
            @Model.Name İsimli ürünü silmek istediğinize emin misiniz ? 
    <form asp-action="Index" asp-controller="Home" method="post">

                <input type="hidden" asp-for="@Model.ProductId">
            <button type="submit" class="btn btn-danger">Evet</button>
            <a href="/" class="btn btn-primary">Hayır</a>
            </form>
            
        </p>
    </div>